.aboutBS_section{
    padding:30px 0;
    background-color: var(--color-surface);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h2_aboutBS_section{
    font-size: 38px;
    font-weight: 600;
    color: var(--color-primary);
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 0 auto;
    width: 100%;
}

.p_aboutBS_section{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 300;
    color: var(--color-text-primary);
    margin-bottom: 40px;
    text-align:center;
    width: 841px;
}

.images_container{
    display:flex;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    width: 1704px;
    height: 363px;
    margin-bottom: 40px;
}

.image_item{
    border-radius: 20px;
}

.secondary_button_main{
    width: 280px;
    height: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-secondary);
    font-size: 20px;
    font-weight: 700;
    border: 2px solid var(--color-secondary);
}

.secondary_button_main:hover{
    background-color: var(--color-secondary-hover);
    color: var(--color-text-primary);
    transition: 0.3s;
}

