
.hero {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 1080px;
    background-image: url('/src/assets/Guardabarranco.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.hero:before{
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(
        to right,
        rgba(51, 51, 51, 1) 0%,
        rgba(255, 255, 255, 0.1) 100%
    );
    opacity: 0.5;
    z-index: 1;
}

.hero_content {
    color: #F5F5F5;
    text-align: left;
    max-width: 820px;
    z-index: 2;
}

.hero_actions{
    display: flex;
    justify-content: center;
}
.primary_button, .secondary_button {
    display: flex;
    width: 250px;
    height: 70px;
    font-size: 1.25rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
    color: var(--background-color);
    font-weight: 700;
    align-items: center;
    justify-content: center;
}

.primary_button {
    background: var(--color-primary);
}

.secondary_button{
    background-color: var(--color-secondary);
}

.primary_button:hover {
    background-color: var(--color-details);
    color: var(--color-primary);
}

.secondary_button:hover {
    background-color:#288757;
}

h1{
    font-size: 4rem;
    margin-bottom: 20px;
    margin-left: 136px;
    font-weight: 700;
}

.h2_hero_section{
    font-size: 2.38rem;
    margin-bottom: 40px;
    margin-left: 136px;
    font-weight: 600;
}