.maps_section-container{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--color-surface);

}

.maps-container{
    display: flex;
    width: 1152px;
    height: 671px;
    background-color: var(--color-primary);
}

.maps-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.maps_content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-surface);
    width: 552px;
    height: 671px;
}

.h2_maps-section{
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-text-primary);
    text-align: left;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 30px;
}

.p_maps-section{
    text-align: left;
    margin-left: 15px;
    font-family: 'Montserrat';
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--color-text-primary);
    width: 417px;
    margin-bottom: 40px;
}

.button_maps-section{
    margin-left: 15px;
    border-radius: 20px;
    border: 2px solid var(--color-secondary);
    width: 392px;
    height: 80px;
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-secondary);
    cursor: pointer;
    transition: 0.3s;
}

.button_maps-section:hover{
    background-color: var(--color-secondary);
    color: var(--color-surface);
}