
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 108px;
    background-color: var(--color-header-footer);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 134px;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Navbar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1704px;;
}

.logo {
    height: 180px;
}

.navbar_items{
    position: relative;
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: 0.3s;
}

.navbar_items:hover{
    color: var(--color-primary-hover);
}

.navbar_items::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--color-primary-hover);
    transition: 0.3s;
}

.navbar_items:hover::before{
    width: 100%;
    color: var(--color-primary-hover);
}

/*.theme-toggle {
    border: none;
    background: var(--color-surface);
    color: var(--color-text-primary);
    padding: 8px 14px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.theme-toggle:hover {
    background: var(--button-hover-bg, #ccc);
    transform: scale(1.1);
}

.theme-toggle.dark {
    background: #333;
    color: #f5f5f5;
}

.theme-toggle.light {
    background: #f5f5f5;
    color: #333;
}
*/

.theme-toggle {
    width: 60px;
    height: 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    background: var(--color-surface);
    transition: background 0.3s ease-in-out;
    display: flex;
    align-items: center;
    padding: 0;
}

.theme-toggle .circle {
    width: 24px;
    height: 24px;
    background: var(--color-surface);
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-primary);
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.theme-toggle.dark .circle {
    transform: translateX(30px);
    background: #f5f5f5;
    color: var(--color-primary);
}

.login_button{
    width: 200px;
    height: 65px;
    border-radius: 20px;
    background-color: var(--color-primary);
    border: none;
    color: var(--color-text-primary);
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_button:hover{
    background-color: var(--color-primary-hover);
}